body{
    background-image: url("capital.jpg");
    background-color: rgba(222, 184, 135, 0.765);
    background-size:auto;
    background-position:center  center;
    background-repeat: no-repeat;
}
main{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    background-color: rgba(222, 184, 135, 0.774);
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:oblique;
    text-decoration:underline;
}
label{
    font-size: larger;
}
input{
    font-size: large;
}
button{
    font-size: large;
}