body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Slab', serif;
}
header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
/*captura eventos*/
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}


.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;

}
.productos li:hover{
    border-color: #c78c19;
}

.productos li:active{
    border-color: green;
}


.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion{
    font-size: 18px;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copi{
    color: white;
    font-size: 13px;
    margin: 20px;
}

main{
    width: 940px;/*1270---se usa esta para centralizar*/
    margin: 0 auto;   
}

form label, form legend{/*mismo estilo separado por una coma*/
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.patron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
   
}

form{
    margin: 40px 0;;
}

.checkbox{
    margin: 20px 0;
}
/*jerarquias CSS
ID=100---Class=10---Etiqueta=1
style online tiene mas peso=1000*/

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background-color: #c78c19;
    transform: scale(1.2);/*en la misma linea hace las dos transformaciiones*/
   /* transform: rotate(70deg);*/
}

table{
    margin: 40px 40px;
}
thead{
    background-color: #4e4a4aeb;
    color: white;
    font-weight: bold;
}
td,th{
    border: 1px solid black;
    padding:  8px 15px;
}

/*CSS para pagina home*/
main >p{/*para acceder a los hijos de determinado elemento. Por ejemplo, para acceder todos los p dentro del main:*/

}

img +p{/*para acceder al primer hermano de determinado elemento. Por ejemplo, para acceder el primer p después de una img*/

}
img ~ p {/*para acceder a todos los hermanos de determinado elemento. Por ejemplo, para acceder todos los p después de una img:*/
}
main p:not(#missao) {/*para acceder a los elementos, excepto algunos. Por ejemplo, para acceder a todos los p dentro de main excepto el p que tiene id missao*/
}
/*.principal p:not(#mision){
    background-color: #c78c19;
}*/
.banner{
    width: 100%;
}

.tituloP{
    text-align: center;
    font-size: 2em;/*2 veces el tamaño por defauld*/
    margin: 0 0 1em;
    clear: left;
    text-shadow: 3px 3px 2px black;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;

}

.principal em{
    font-style: italic;
}
.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0 ;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.diferenciales {
    padding: 3em 0;
    background: #888888;
}
.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.contenido-diferenciales {
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 1.5;
}

.items:first-child {
    font-weight: bold;
}

.items:before{
    content:"★"
}

.imagen-diferenciales {
    width: 60%;
    transition: 1s;
    box-shadow: 10px 10px 10px  10px black;  
}
.imagen-diferenciales:hover{
    opacity: 30%;
    
}

.video{
    width: 516px;
    margin: 1em auto;
    
}
/*media query para crear condiciones, forma de hacer que nuestra pag sea responsive*/

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video {
        width: auto;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }
}