/* Comunes para todas las clases */
/* <!-- Logo y titulo del juego --> */
.logo {
    display: flex;
    justify-content: center;
    height: 7.5rem;
    margin-bottom: 3.5rem;
}

.text {
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
}

.im {
    margin-left: 6rem;
}

/* <!-- zona de juego --> */
.principal {
    height: 35rem;
    background-color: rgba(13, 13, 13, 0.753);
    margin-bottom: 2rem;
    border-radius: 2%;

    background-image: url("../img/fonodo1.jpg");
    background-position: center;
    background-attachment: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hue;
}

/* <!-- seccion del juego --> */
.juego {
    margin-top: 2rem;
    height: 25rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.label1 {
    font-family: 'Orbitron', sans-serif;
    font-size: larger;
}

/* <!-- seccion de los botones --> */
.botones {
    display: flex;
    justify-content: center;
}

.bton {
    width: 13rem;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    font-size: medium;
}

.bton1 {
    padding: 1.25rem;
    width: 13rem;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    font-size: medium;
}

/*footer*/
footer {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.bi1 {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.bi1:hover {
    color: rgb(30, 108, 177);
    font-size: 2rem;

}

@media (max-width: 500px) {
    .text {
        font-size: 1.3rem;
    }

    .botones {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }
    .juego {   
        height: 15rem; 
    }
}
@media (max-width:900px) {
    .botones {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }
    .juego {   
        height: 15rem; 
    }
} 