body{
    background-color: rgba(241, 232, 232, 0.589);
}
main{
display: flex;
flex-direction: column;
align-items: center;
font-size: large;
font-family: 'Times New Roman', Times, serif;
}
h1{
font-style: oblique;
}