body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("salario.jpg");
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-style: oblique;
    color: aliceblue;
}

div {
    background-color: rgba(0, 0, 0, 0.694);
    color: aliceblue;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}