body {
    background: #F5F5F5;
    font-family: 'Raleway', sans-serif;
    color: #464646;
}

.icon {
    margin-left: 5rem;
}

.menu {
    ul {
        display: flex;
    }

    ul li:last-child {
        margin-right: 7rem;
    }

    li {
        margin-right: 2rem;
        list-style: none;

        a {
            text-decoration: none;
            color: black;
        }
    }

    li:hover {
        color: rgb(0, 0, 0);
        text-decoration: underline;
    }
}

.acerca {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.derecha {
    h2 {
        width: 751px;
        height: 122px;
        font-weight: 700;
        font-size: 42px;
        color: #464646;
        padding-top: 2rem;
    }

    p {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    ul {
        display: flex;
        padding-left: 0%;

        li {
            list-style: none;
            padding-right: 3rem;
        }
    }

    li a {
        text-decoration: none;
        color: #464646;

        i {
            font-size: 1rem;
            color: black;
        }
    }

    a:hover {
        text-decoration: underline;
        color: black;
    }

}

.imagen {
    border-radius: 80%;
    margin-left: 0.6rem;
}

// Section hobbies
.pasa {
    background-color: #EAF2FD;

    h2 {
        margin-left: 7rem;
        margin-right: 7rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-weight: 700;
    }

    p {
        margin-left: 7rem;
        margin-right: 30rem;

        img {
            margin-top: 0px;
            padding-bottom: 2rem;
        }
    }
}

.pasatiempo {
    h2 {
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: 700;
    }

    .row {
        display: flex;
    }

    .col {
        height: 200px;
        margin-bottom: 3rem;
        background-color: #fefeff;
        border-style: dotted;
        border-color: #5c58588e;
        border-width: 0.3px;
    }
}

.formacion {
    background-color: #EAF2FD;

    h2 {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-weight: 700;
    }

    .card-group {
        margin-left: 7rem;
        margin-right: 7rem;
        padding-bottom: 3rem;
    }
}

.experiencia {
    padding-bottom: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;

    h2 {
        text-align: center;
        font-weight: 700;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .row {
        padding-bottom: 1rem;
    }

    .proyectos-recientes img {
        height: 400px;
        width: 100%;
        border-radius: 10px;
        display: block;
        transition: all 0.2s ease;
        background-size: cover;
    }

    .overlay {
        transition: all 0.2s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .overlay p {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 0;
        text-align: center;
    }

    .proyecto {
        position: relative;
    }

    .proyecto:hover img {
        opacity: 0.2;
    }

    .proyecto:hover .overlay {
        opacity: 1;
    }

    .overlay .iconos-contenedor {
        display: flex;
    }

    .overlay i {
        color: black;
        font-size: 60px;
        margin: 10px;
        padding-right: 3rem;
        padding-left: 3rem;
        color: rgb(0, 0, 0);
    }

    .lenguaje {
        color: rgba(48, 110, 243, 0.854);
    }

    .lenguaje2 {
        color: rgba(34, 114, 20, 0.883);
    }
}

.contacto {
    background-color: #EAF2FD;

    h2 {
        text-align: center;
        padding-top: 2rem;
        font-weight: 700;
    }

    .img-form {

        display: flex;
        justify-content: flex-start;
        padding-bottom: 3rem;
        padding-top: 1rem;
        margin-left: 7rem;
        font-weight: 500;
        padding-left: 7.5rem;
    }

    img {
        width: 400px;
        border-radius: 8%;
    }

    form {
        padding-left: 3rem;

        input {
            width: 100%;
            padding-bottom: 1rem;
            margin-bottom: 2rem;
        }

        textarea {
            padding-right: 400px;
        }
    }
}

footer {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h6 {
        font-weight: 600;
        font-size: 1.5rem;
    }

    small {
        font-size: 1rem;
        font-weight: 600;
    }

    p i {
        font-size: 1.5rem;
        padding-left: 1rem;
    }
}

