main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    background-color: rgb(180, 180, 224);
    padding-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10%;
  }
  label{
    font-size: larger;
    padding-bottom: 12%;
  }
  button{
    background-color: black;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  body{
   background-image: url("grados.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-color: rgb(16, 15, 15);
  }
